h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 200px;
}

#one {
  background: #247BA0;
}

#two {
  background: #70C1B3;
}

#three {
  background: #B2DBBF;
}

#four {
  background: #F3FFBD;
}

#five {
  background: #FF1654;
}
